* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

@font-face {
    font-family: fira;
    src: url('fonts/firasans/FiraSans-Bold.otf')
}

@font-face {
    font-family: oS-Bold;
    src: url('fonts/OpenSans-Semibold.ttf')
}

@font-face {
    font-family: fira4;
    src: url('fonts/firasans/FiraSans-Four.otf')
}

@font-face {
    font-family: firaHair;
    src: url('fonts/firasans/FiraSans-Hair.otf')
}

@font-face {
    font-family: openSansLight;
    src: url('fonts/OpenSans-Light.ttf')
}

body {
    padding: 3rem;
}

.button {
    width: 10em;
    margin: auto;
    transition: all 0.3s;
    height: 40px;
    background-color:rgb(24, 110, 191);
    border-radius: 10px;
    border-color: silver;
}

.button:hover {
    cursor: pointer;
    background-color: transparent;
}

#title {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
}

.form-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    padding: 10px;
}
.form-container textarea{
    margin:1em 0;
    width:100%;
    min-height:200px;
    resize: vertical;
}

.form-container input{
    width:70%;
    margin:1em 0;
    padding:5px;
    border:none;
    border-bottom: 2px solid #111;

}
#ideas-container{
	width:100%;
    padding: 10px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.idea h2{
    font-size:24px;
    font-family:Verdana sans-serif;
    font-weight: bold;
}
.idea{
    padding:10px;
    width:300px;

}
#ideas-container>div {
    transition: all 0.3s;
}
/* single idea page */
#idea-container{
    width:100%;
    padding:2em;
    /* min-height:100vh; */
}
.idea-p{
    margin:1em 0;
    font-family:sans-serif;

}
.date{
display:block;
font-size:12px;
color:darkblue;
margin-top:5px;

}
@media screen and (max-width:600px) {

#idea-container{
 padding:1em;
}
.idea{
    width:100%;
}
.form-container form{
    width:100%;
}
.form-container input{
    width:100%;
}
}
